@model IEnumerable<WorkoutTracker.Models.Training>

@{
    ViewData["Title"] = "Index";
}

<div class="container col-md-8">
    <div class="my-2 d-flex justify-content-end">
        <a asp-action="Create" class="btn btn-success">New traning</a>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td style="text-align: center">
                        <a type="button" asp-action="Details" asp-route-id="@item.Id">
                            <i class="fa-solid fa-arrow-up-right-from-square icon-black"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
